/* Algemene styling */
body {
    margin: 1em;
}

.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* Costum Properties */
:root {
    --power-btn-color: #c3af6d;
    --contorl-panel-color: #4f6065;
    --test-btn-color: #d13017;
    --main-font-family: 'Russo One', sans-serif;
}

/* NAV */
h1 {
    font-family: var(--main-font-family);
    font-size: 2em;
}

nav {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

nav img {
    width: 2em;
    object-fit: contain;
    transition: 1s;
}

nav img:hover {
    filter: blur(3px);

}

/* MAIN */



main {
    display: grid;
    grid-template-rows: 1fr 2fr;
    /* Adjust the proportions as needed */
    grid-template-columns: 1fr;
    /* Single column for the first row */
    gap: 1em;
    text-align: center;
}


section {
    background-color: #d13017;
    height: 10rem;
}


form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
    gap: 2em;
}


form fieldset:nth-of-type(1) {
    background-color: blue;
    grid-column-start: 1;
}

form fieldset:nth-of-type(1) button {
    background-color: var(--power-btn-color);
    padding: 5em;
    box-shadow: 0px 10px 0px 3px gray;
    border: transparent;
    cursor: pointer;
}

form fieldset:nth-of-type(2) {
    background-color: green;
}

form fieldset:nth-of-type(3) {
    background-color: orange;
}

form fieldset:nth-of-type(4) {
    background-color: purple;
}